body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background: #E5E5E5;
  margin: 0;
  padding: 0;
}

main {
  margin: 16px;
}

.article,
.container,
.songName,
.form {
  margin-left: 16px;
  margin-right: 16px;
}

.header__heading {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.nav__list,
.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.nav__items {
  list-style: none;
}

.nav__link,
.link--more {
  text-decoration: none;
}

.nav__link:hover {
  color: #e53170;
}

.link--more {
  margin-bottom: 1rem;
}

.section,
.container {
  background: #272343;
  border-radius: 5px;
  margin-bottom: 32px;
  padding-left: 16px;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #FFFFFF;
}

.wrapper {
  display: flex;
  text-align: justify;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
}

.wrapper--title {
  justify-content: end;
}

.upVotes {
  margin-right: 32px;
}

.section__heading {
  margin: 0;
}

.cart--list,
.list {
  padding: 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4,1fr);
  text-align: left;
}

.items--styles {
  grid-column: 2/8;
  margin-inline-start: 125px;
}

.cart--wrapper {
  display: flex;
  flex-direction: row;
}

.cart {
	font-size: 1.2rem;
  cursor: pointer;
}

.more {
  margin-left: 48px;
  color: white;
  font-size: 40px;
}

.favorite {
  color: yellow;
  margin-right: 48px;
}

.cart--items,
.cart--wrapper,
.cart--container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.form {

  &__fieldset {
    padding: 0;
    margin: 0;
  }

  &__fieldset,
  &__input,
  &--submit {
    border-color: transparent;
  }

  &__fieldset,
  &__input,
  &--submit,
  &__select,
  &__textarea {
    border-radius: 8px;
  }

  &__input,
  &__select,
  &__textarea {
    border-color: transparent;
    background-color: #BAE8E8;
    width: 100%;
    padding: 16px;
    margin-top: 16px;
  }

  &__input:hover,
  &__input:focus,
  &__select:hover,
  &__select:focus,
  &__textarea:hover,
  &__textarea:focus {
    background-color: #ff8906;
    border-color: #0f0e17;
  }

  &--submit,
  .submit--item {
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
    background-color: violet;
    margin-top: 16px;
    margin-left: 48px;
  }

  &--submit {
    text-transform: uppercase;
    font-size: 20px;
    color: #0f0e17;
  }
}

.list--container {
  display: grid;
  grid-template-columns: auto;
  column-gap: 16px;
}

.cart--container {
  align-items: center;
}

.lyrics {
  font-size: 20px;
  width: 40%;
}

.submit--item {
  padding-top: 16px;
  padding-left: 32px;
  padding-bottom: 16px;
  padding-right: 32px;
  border-radius: 8px;
  background-color: #ff8906;
  color: #fffffe;
  text-transform: uppercase;
  font-size: 20px;
}

.trash {
  margin-right: 32px;
}

@media (min-width: 800px) {
  main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .form--container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

}
